<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
